


body{
    color: aliceblue;
    background-image: url(imagens/wallpaperflare.com5_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }



h1{  
color: #fff;
text-align: center;
font-size: 50px;
text-shadow: 5px 6px 3px #000;
}

h2{
font-size: 40px;
text-shadow: 5px 6px 3px #000;
}

h3{
    font-size: 40px;
    color: #fff;
   text-align: center;
   margin: 10%;
   text-shadow: 5px 6px 3px #000;
}

h4{
    text-align: center;
    font-size: 22px;
    margin-top: 205px;
}


a{
    Display: inline-block;
    Text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    font-size: 50px;
}