


body{
    color: aliceblue;
    background-image: url(imagens/wallpaperflare.com3_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    }



h1{  
color: #fff;

}

