



body{
    color: aliceblue;
    background-image: url(imagens/wallpaperflare.com3_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 100;
    }

 
h1{
    text-align: center;
    font-size: 80px;
    text-shadow: 6px 5px 3px #000;
    color: #2359a5;
    } 

h2{
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color: #2e65b3;
    text-shadow: 6px 5px 3px #000;
}

h2:hover{
    color: #fff;
}


