body{
    text-align: center;
    background-image: url(imagens/wallpaperflare.com4_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
   
}
h1{
    color: #fff;
    font-size: 50px;
    text-shadow: 5px 6px 3px #000;
}

.texto{
   color: #c4b07e;
   font-size: 27px;
   margin: 30px;
   text-shadow: 6px 5px 3px #000;
}

.btn4{
    Display: inline-block;
}

.btn4:hover{
    font-size: 60px;
    color: #fff;
}

a{
    Display: inline-block;
    Text-decoration: none;
    color: #fff;
}