@font-face {
    font-family: bully;
    src: url(fonte/Narcissus\ Roman.otf);
}





body{
color: aliceblue;
background-image: url(imagens/wallpaperflare.com_wallpaper.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
margin: 0;
padding: 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.349);
    
}

.texto{
width: 60%;
position: absolute;
left: 500px;
font-size: 35px;
text-shadow: 5px 6px 3px #000;

}

h1{
text-align: center;
font-size: 80px;
text-shadow: 5px 6px 3px #000;
font-family: 'bully';
color: rgb(194, 194, 55);
-webkit-text-stroke: 1px blue;
}






